body {
 background-color: dimgray;
}

.container,
.text-container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20%;
}

.text-container span {
 font-size: 54px;
 font-weight: bold;
}

.buttons-container {
 margin-top: 20px;
}

.button {
 width: 100px;
 height: 50px;
 border-radius: 5px;
 font-size: 24px;
}

.button-green {
 background-color: lawngreen;
}

.button-red {
 background-color: red;
}

.button-bisque {
 background-color: bisque;
}
